<div class="container">
    <h1> Sélectionnez des cours.</h1>
  
    <div class="row">
      <div class="col-md-4"  *ngFor="let training of trainings">
        <div class="card mb-3">
            <img [src]="'http://localhost:8080/' + training.imagePath" alt="Training Image"> 
          <div class="card-body">
            <h5 class="card-title">Language : {{ training.name }}</h5>
            <p class="card-text">{{ training.description }}</p>
            <p class="card-text">Price: {{ training.price }}</p>
            <p class="card-text">Quantity: {{ training.quantity }}<button class="btn btn-primary float-end">Ajouter</button></p>
            
          </div>
        </div>
      </div>
    </div>
    <p class="error-message" *ngIf="error">{{ error }}</p>
  </div>
  <div class="container">
    <h2>Ajouter un nouveau training</h2>
    <form (ngSubmit)="saveTraining()" #resetFormSave="ngForm">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Nom" [(ngModel)]="training.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" placeholder="Description" [(ngModel)]="training.description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="number" class="form-control" id="price" placeholder="Prix" [(ngModel)]="training.price" name="price" required>
      </div>
      <div class="form-group">
        <label for="quantity">Quantité</label>
        <input type="number" class="form-control" id="quantity" placeholder="Quantité" [(ngModel)]="training.quantity" name="quantity" required>
      </div>
      <div>
        <label>Image:</label>
        <input type="file" (change)="onFileChange($event)">
      </div>
      <button type="submit" class="btn btn-primary">Créer</button>
    </form>
  </div>
  
  
