<div class="container my-2">
        <div class="p-4">
            <div class="box row col-12 p-3" style="color: #999999">
                <div class="col-lg-3 col-md-6 mb-0">
                    <h5 class="text-uppercase mb-4">NOTRE MONDE</h5>
                    <ul class="list-unstyled mb-4">
                        <li><a href="#!" class="text-white">A propos de nous</a></li>
                        <li><a href="#!" class="text-white">Collections</a></li>
                        <li><a href="#!" class="text-white">Philosophie
                                environnementale</a></li>
                        <li><a href="#!" class="text-white">Collaborations avec
                                des artistes</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">Assistance</h5>

                    <ul class="list-unstyled">
                        <li><a href="#!" class="text-white">Nous contacter</a></li>
                        <li><a href="#!" class="text-white">Guide des tailles</a></li>
                        <li><a href="#!" class="text-white">Informations sur
                                l'expédition</a></li>
                        <li><a href="#!" class="text-white">Retours et échanges</a></li>
                        <li><a href="#!" class="text-white">Paiement</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">CARRIÈRES</h5>

                    <ul class="list-unstyled">
                        <li><a href="" class="text-white">Emplois</a></li>
                    </ul>
                </div>
                <div class="parent-wrapper">
                    <span class="close-btn glyphicon glyphicon-remove"></span>
                    <div class="subscribe-wrapper">
                        <h4>ABONNEZ-VOUS À NOTRE NEWSLETTER</h4>
                        <input type="email" name="email" class="subscribe-input"
                            placeholder="Votre adresse e-mail">
                        <div class="submit-btn">ENVOYER</div>
                    </div>
                </div>
                <div class="text-center p-3 border-top border-white"
                    style="color: #999999">
                    © 2023 Copyright: <a class="text-white" href="">Study-Pro.com</a>
                </div>
            </div>
        </div>
</div>